@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }   
}

:root {
  --primary: #2c3092;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Roboto", "Hanuman", serif;
  font-weight: 400;
  font-style: normal;
}

.dark {
  background-color: #282828;
}

.progress {
  animation: progress 1s infinite linear;
}

@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

.left-right {
  transform-origin: 0% 50%;
}

.customScrollBar {
  overflow: auto;
  scrollbar-color: rgb(161, 161, 161) #f9fafb;
  scrollbar-width: thin;
}

/* table start*/

table {
  width: 100%;
  border-collapse: collapse;
}

tbody,
td {
  border-bottom: 1px solid rgb(204, 204, 204);
  border-top: 1px solid rgb(204, 204, 204);
  padding: 1rem 2rem;
  font-size: 0.9rem;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f9fafb;
}

table,
thead,
tr,
th {
  font-size: 0.9rem;
  padding: 1rem 2rem;
  text-align: left;
  font-weight: 500;
}

/* table end*/

/* button start */
.button-squar {
  padding: 1rem 1rem;
  border-radius: 25%;
}
/* button end */

/* side bar start */

#sidebar a.active {
  color: black;
  font-weight: 500;
  background-color: #e5e7eb;
}

#sidebar {
  padding: 1rem 0.8rem;
  font-weight: 400;
}

#sidebar a {
  /* padding: 5px;   */
  position: relative;
  border-radius: 0.5rem;
  display: flex;
  justify-content: start;
  padding: 0.5rem 0.6rem;
  gap: 1rem;
  align-items: center;
}

#sidebar a:hover {
  background-color: #e5e7eb;
}

/* side bar end */

/* tab start */

.active-tab-class {
  background-color: #f0f0f0; /* Example background color */
  font-weight: bold; /* Example font weight */
}

/* tab end */

.hover-scale:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out 0s;
}

.active-scale:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out 0s;
}

.active-scale {
  transition: transform 0.2s ease-in-out 0s;
}

.hover-scale {
  transition: transform 0.2s ease-in-out 0s;
}

.animate-spin-slow {
  animation: spin 5s linear infinite;
}

.loading-spin1 {
  animation: loading-spin1 2s linear infinite;    
}

.loading-spin2 {
  animation: loading-spin2 2s linear infinite; 
}


@keyframes loading-spin1 {
  0% {    
    border-radius: 10%;
    transform: rotate(0deg);
  }
  50% {    
    transform: rotate(180deg);
  }
  100% {    
    border-radius: 50%;    
    transform: rotate(360deg);
  }
}

@keyframes loading-spin2 {
  0% {    
    transform: rotate(360deg);
  }
  50% {    
    transform: rotate(180deg);
  }
  100% {    
    border-radius: 50%;
    transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 22px;
  aspect-ratio: 1;
  
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}

.loader1 {
  width: 70px;
  aspect-ratio: 1;
  
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader1::before,
.loader1::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.loader1::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}

/* loading one style */

.loader2 {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}

.loader2::after {
  content: '';
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid red;
  transform: rotate(45deg) translate(0, 0);
  box-sizing: border-box;
  animation: animMarker 0.4s ease-in-out infinite alternate;
}

.loader2::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }

  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
    